version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: chat-backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    restart: always
    networks:
      - chat-network

  frontend:
    build:
      context: ./frontend/chat-app
      dockerfile: Dockerfile
      args:
        VITE_API_URL: "https://b-flux.onrender.com/api"
        VITE_SOCKET_URL: "https://b-flux.onrender.com"
    container_name: chat-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always
    networks:
      - chat-network

networks:
  chat-network:
